<div class="container">
  <app-sub-menu-liste></app-sub-menu-liste>
    <h3>Listes des chèques traités</h3>
    <body>
      <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
      <table class="table table-striped table-valign-middle">
        <thead>
          <tr>
            <th scope="col">N°bordereau</th>
            <th scope="col">N°chéque</th>
            <th scope="col">Montant</th>
            <th scope="col">Devise</th>
            <th scope="col">Banque tirée</th>
            <th scope="col">Date de réception</th>
            <th scope="col">Statut</th>
            <th scope="col">Date de sortie</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cheque of cheques |filter:term| paginate :{
            itemsPerPage:4,
            currentPage: page,
            totalItems: count
          };
          
              let i = index"  >
            
            <td>{{ cheque?.bordereaux?.numBordereaux}}</td>
            <td>{{ cheque?.numCheque }}</td>
            <td>{{ cheque?.montant }}</td>
            <td>{{ cheque?.devise?.label }}</td>
            <td>{{ cheque?.banque?.nom }}</td>
            <td>{{ cheque?.dateReceptionBanque }}</td>
            <td>{{ cheque?.statut }}</td>
            <td>{{ cheque?.dateSortie }}</td>
            
            
      
            
          </tr>
        </tbody>
      </table>
      
      <div class="row">
        <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
        </div>
        <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
          <div class="dataTables_paginate paging_simple_numbers" id="kt_subscriptions_table_paginate">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
    
    </body>
  </div>
