
        <div class="post" id="kt_post">
            
            <form #addForm="ngForm" (ngSubmit)="onAddPost2(addForm)" class="form">
                
                <div class="d-flex flex-column mb-8 fv-row">
                    <label class="d-flex align-items-center mb-2">
                        <span class="text-gray-700 fs-6 fw-bolder required">Numero Bordereau</span>
                    </label>
                    <input type="number" class="form-control" ngModel name="numBordereaux" />
                </div>
               
                <div class="d-flex flex-column mb-8 fv-row">
                    <label class="d-flex align-items-center mb-2">
                        <span class="text-gray-700 fs-6 fw-bolder required">Date Bordereau</span>
                    </label>
                   
                    <div>
                        
                        <input [ngModel]="theDate | date:'dd-MM-yyyy'" 
                          (ngModelChange)="theDate = $event" type="date" 
                          ngModel name="dateBordereaux"/>
                      </div>

                   

                </div>
                   
                <div class="d-flex flex-column mb-8 fv-row">
                    <label class="d-flex align-items-center mb-2">
                        <span class="text-gray-700 fs-6 fw-bolder required">Numero Cheque</span>
                    </label>
                    <input type="number" class="form-control" ngModel name="numCheque" />
                </div>
                   
                <div class="d-flex flex-column mb-8 fv-row">
                    <label class="d-flex align-items-center mb-2">
                        <span class="text-gray-700 fs-6 fw-bolder required">Montant</span>
                    </label>
                    <input type="number" class="form-control" ngModel name="montant" />
                </div>

                <div class="d-flex flex-column mb-8 fv-row">
                    <label class="d-flex align-items-center mb-2">
                        <span class="text-gray-700 fs-6 fw-bolder required">Devise</span>
                    </label>
                    <select ngModel name="devise" >
                        <option *ngFor="let devise of devises" [ngValue]="devise">
                            {{devise.label}}
                        </option>
                    </select>
                </div>

                

               


                  
                <input type="file" (change)="onFileChanged($event)">
                <br>
                &nbsp;
               
                <div class="d-flex flex-stack">
                   
                    <button type="submit" id="kt_devs_ask_submit" class="btn btn-primary" >
                        
                        <span class="indicator-label">Submit</span>
                       
                        
                    </button>
                  
                </div>
            </form>
        </div>
    