
<div class="d-grid gap-2">
    <button class="btn btn-primary" type="button" (click)="SaisirChequesForm()">Saisir des remises chèques en devises  </button>
    <button class="btn btn-primary" type="button" (click)="chequesEnRouteEncaissement()" >Suivi des remises chéques en devises</button>
    <button class="btn btn-primary" type="button" (click)="Recherche()">Recherche opération</button>
    <button class="btn btn-primary" type="button" (click)="finJournee()">Fin Journée</button>
  </div> 

 


