<header>

  <nav class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light " data-html2canvas-ignore="true">

  <div class="container-fluid">
    
    <a class="navbar-brand" href="#">
      <img src="https://www.biat.com.tn/sites/default/files/logobiat_0_0.png" height="30" alt="" loading="lazy" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" routerLinkActive="active">
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showAgenceBoard ">
          <a href="/agence" class="nav-link" routerLink="agence">Agence Board</a>
        </li>
        <li class="nav-item">
          <a href="/encaissement" class="nav-link" *ngIf="showEncaissementBoard" routerLink="encaissement">Encaissement Board</a>
        </li>
        <li class="nav-item">
          <a href="/sclientele" class="nav-link" *ngIf="showSclienteleBoard" routerLink="sclientele">Sclientele Board</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
      
      <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="isLoggedIn">
       
      <li>
          <span class="navbar-text">
            Nom/Code Agence : {{ auxUser?.nomAgence }} / {{ auxUser?.codeAgence }} 
          </span>
        </li>
        <li>
          <span class="navbar-text">
          Nom/Matricule Agent :  {{ auxUser?.nom }} {{ auxUser?.prenom }} / {{ username }}
       </span>
      </li>
         
      </ul>

     

      <ul class="navbar-nav ml-auto"  *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href class="btn btn-outline-dark" (click)="logout()">Se déconnecter
          </a>
        </li>
      </ul>
    </div>
    
  </div>
  
  </nav>

</header>

<div class="container" style="margin-top: 200px;" >
    <router-outlet></router-outlet>
  </div>
