
<div class="container">
    <h3>Recherche Remise/chéques</h3>



    <form
    class="p-3 mt-3"
    
    name="form"
    (ngSubmit)="onRecherche()"
    #f="ngForm"
    novalidate
  >
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span> 
      <input
        type="text"
        class="form-control"
        name="numBordereaux"
        [(ngModel)]="form.numBordereaux"
        
        #numBordereaux="ngModel"
        id="numBordereaux" placeholder="N°Bordereau"/>
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span> 
      <input
        type="text"
        class="form-control"
        name="numCheques"
        [(ngModel)]="form.numCheques"
        #numCheques="ngModel"
        id="numCheques" placeholder="N°Cheque"/>
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span> 
      <input
        type="text"
        class="form-control"
        name="numCompte"
        [(ngModel)]="form.numCompte"
        #numCompte="ngModel"
        id="numCompte" placeholder="N°Compte"/>
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span> 
      <input
        type="text"
        class="form-control"
        name="devise"
        [(ngModel)]="form.devise"
        #devise="ngModel"
        id="devise" placeholder="Devise"/>
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span> 
      <input
        type="text"
        class="form-control"
        name="montant"
        [(ngModel)]="form.montant"
        #montant="ngModel"
        id="montant" placeholder="montant"/>
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span> 
      <input
        type="text"
        class="form-control"
        name="dateBordereaux"
        [(ngModel)]="form.dateBordereaux"
        #dateBordereaux="ngModel"
        id="dateBordereaux" placeholder="dateBordereaux"/>
    </div>

        
    
    <div class="form-group">
      <button class="btn btn-primary">
        Rechercher
      </button>
    </div>
  </form>


    

    <body>
     
      <table class="table table-striped table-valign-middle">
        <thead>
          
          
          <tr>
            <th scope="col">N°chéque</th>
            <th scope="col">N°bordereau</th>
            <th scope="col">Date de Bordereau</th>
            <th scope="col">N°Compte</th>
            <th scope="col">Nom Client</th>
            <th scope="col">Code Agence</th>
            <th scope="col">Date Ouverture</th>
            <th scope="col">Devise</th>
            <th scope="col">Montant</th>
            <th scope="col">Etat</th>
            <th scope="col">Date de sortie</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cheque of cheques ">
            
            <td>{{ cheque?.numCheque }}</td>
            <td>{{ cheque?.bordereaux?.numBordereaux}}</td>
            <td>{{ cheque?.bordereaux?.dateBordereaux}}</td>
            <td>{{ cheque?.client?.numeroCompte }}</td>
            <td>{{ cheque?.client?.agence?.nomAgence }} {{ cheque?.client?.prenom }}</td>
            <td>{{ cheque?.client?.agence?.codeAgence }}</td>
            <td>{{ cheque?.dateOuverture }}</td>
            <td>{{ cheque?.devise?.label }}</td>
            <td>{{ cheque?.montant }}</td>
            <td>{{ cheque?.statut }}</td>
            <td>{{ cheque?.dateSortie }}</td>
            
            
      
            
          </tr>
        </tbody>
      </table>
      
      
    </body>
  </div>
